* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, main {
    background-color: black;
}

header {
    height: 80vh;
    background-image: url("./img/1080-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-items li {
    color: white;
    font-size: 1.5rem;
    
}
/* Add animation with a bottom order when hovered */
.nav-items a {
    text-decoration: none;
    padding: 1rem 3rem;
}
/* Change font-family */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2rem;
}

#about {
    color: white;
    margin-top: 5rem;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.pfp {
    height: 250px;
    border-radius: 50%;
}

.pfp-text {
    width: 350px;
    text-align: center;
    font-size: 1.1rem;
}

#skills {
    margin-top: 5rem;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
}

.skill-container img {
    height: 200px;
}

.heading-title {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

