* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 80vh;
    background-image: url("./img/1080-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2rem;
}

body {
    background-color: black;
}

